imbalanced_learn==0.10.1
mahotas==1.4.13
matplotlib==3.7.1
matplotlib==3.6.3
numpy==1.23.5
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
pandas==1.5.3
Pillow==9.5.0
Pillow==10.0.0
scikit_learn==1.2.2
seaborn==0.12.2
shap==0.41.0
tensorflow==2.12.0